        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'poppins', sans-serif;
        }
        
        .container {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(../images/cn.jpg);
            position: relative;
            background-size: cover;
            background-position: center;
            padding: 0 8%;
        }
        
        nav {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 5px 0;
            flex-wrap: wrap;
        }
        
        .logo {
            width: 80px;
            cursor: pointer;
            margin-top: 10px;
        }
        
        .cart-icon {
            width: 30px;
            cursor: pointer;
        }
        
        nav ul {
            flex: 1;
            text-align: right;
            padding-right: 30px;
        }
        
        nav ul li {
            display: inline-block;
            list-style: none;
            margin: 10px 30px;
        }
        
        nav ul li a {
            color: #fff;
            text-decoration: none;
            position: relative;
        }
        
        nav ul li a::after {
            content: '';
            width: 0;
            height: 3px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            transition: width 0.3s;
        }
        
        nav ul li a:hover::after {
            width: 100%;
        }
        
        .text {
            color: #fff;
            position: absolute;
            bottom: 8%;
        }
        
        .text p {
            font-size: 50px;
            font-weight: 600;
        }
        
        .text h1 {
            font-size: 190px;
            line-height: 160px;
            margin-left: -10px;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            background: url(../images/back.png);
            background-position: 0 0;
            -webkit-background-clip: text;
            animation: back 20s linear infinite;
        }
        
        @keyframes back {
            100% {
                background-position: 2000px 0;
            }
        }
        
        .text h3 {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        
        .row .text {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            align-items: center;
        }
        
        .text a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border: 2px solid #fff;
            margin-right: 20px;
        }
        
        .icons {
            position: absolute;
            bottom: 5px;
            right: 8px;
        }
        
        .icons img {
            width: 35px;
            display: block;
            margin: 15px;
            transition: transform .2s;
        }
        
        .icons :hover img {
            transform: scale(1.5);
        }